redis
schedule
cloudant
pytz
ephem
astral
iso8601
httplib2
google-api-python-client
watson-developer-cloud
jinja2
paho-mqtt
python-mpd
spotipy
pafy
pychromecast
ping
ISStreamer
twitter
telepot
feedparser
influxdb
